<div>
  <!-- Title -->
  <div class="flex items-center justify-center gap-3 my-8">
    <div
      class="flex items-center justify-center w-1/12 h-1 bg-gray-500 rounded"
    ></div>
    <h1 class="my-2 text-3xl font-extrabold text-center text-gray-900">
      <span
        class="text-transparent bg-clip-text bg-gradient-to-r to-[#144272] from-[#0A2647]"
        >List Application Technical</span
      >
    </h1>
    <div
      class="flex items-center justify-center w-1/12 h-1 bg-gray-500 rounded"
    ></div>
  </div>
  
  <!-- List -->
  <div class="flex flex-wrap justify-center gap-8 mb-8">
    <a href="http://kjyiotsvr/auto-num" target="_blank">
      <div
        class="max-w-sm p-6 text-center bg-white border border-gray-200 shadow-2xl rounded-xl w-52 h-52 hover:-translate-y-[3px]"
      >
        <div class="flex items-center justify-center">
          <img
            class="w-32 h-auto rounded-lg"
            src="assets/logoApps/autonum.png"
            alt=""
          />
        </div>
        <h5 class="text-2xl font-bold tracking-tight text-gray-900">Autonum</h5>
      </div>
    </a>
    <a href="http://kjyiotsvr/docman" target="_blank">
      <div
        class="max-w-sm p-6 text-center bg-white border border-gray-200 shadow-2xl rounded-xl w-52 h-52 hover:-translate-y-[3px]"
      >
        <div class="flex items-center justify-center">
          <img
            class="w-32 h-auto rounded-lg"
            src="assets/logoApps/docman.png"
            alt=""
          />
        </div>
        <h5 class="text-2xl font-bold tracking-tight text-gray-900">Docman</h5>
      </div>
    </a>
    <a href="http://kjyiotsvr/project-dev" target="_blank">
      <div
        class="max-w-sm p-6 text-center bg-white border border-gray-200 shadow-2xl rounded-xl w-52 h-52 hover:-translate-y-[3px]"
      >
        <div class="flex items-center justify-center">
          <img
            class="w-32 h-auto rounded-lg"
            src="assets/logoApps/progress.png"
            alt=""
          />
        </div>
        <h5 class="text-2xl font-bold tracking-tight text-gray-900">
          ProjectDev
        </h5>
      </div>
    </a>
    <a href="http://kjyiotsvr/tech-talk" target="_blank">
      <div
        class="max-w-sm p-6 text-center bg-white border border-gray-200 shadow-2xl rounded-xl w-52 h-52 hover:-translate-y-[3px]"
      >
        <div class="flex items-center justify-center">
          <img
            class="w-32 h-auto rounded-lg"
            src="assets/logoApps/brainstorm.png"
            alt=""
          />
        </div>
        <h5 class="text-2xl font-bold tracking-tight text-gray-900">
          TechTalk
        </h5>
      </div>
    </a>
  </div>
  <div class="flex flex-wrap justify-center gap-8 mb-8">
    <a href="http://kjyiotsvr/stabtest_corner" target="_blank">
      <div
        class="max-w-sm p-6 text-center bg-white border border-gray-200 shadow-2xl rounded-xl w-52 h-52 hover:-translate-y-[3px]"
      >
        <div class="flex items-center justify-center">
          <img
            class="w-32 h-auto rounded-lg"
            src="assets/logoApps/stab.png"
            alt=""
          />
        </div>
        <h5 class="text-2xl font-bold tracking-tight text-gray-900">Stabtest</h5>
      </div>
    </a>
    <a href="http://kjyiotsvr/stabtest_corner" target="_blank">
      <div
        class="max-w-sm p-6 text-center bg-white border border-gray-200 shadow-2xl rounded-xl w-52 h-52 hover:-translate-y-[3px]"
      >
        <div class="flex items-center justify-center">
          <img
            class="w-32 h-auto rounded-lg"
            src="assets/logoApps/sample.png"
            alt=""
          />
        </div>
        <h5 class="text-2xl font-bold tracking-tight text-gray-900">StockOpname</h5>
      </div>
    </a>
    <a href="http://kjyiotsvr/monitoring_testpackaging" target="_blank">
      <div
        class="max-w-sm p-6 text-center bg-white border border-gray-200 shadow-2xl rounded-xl w-52 h-52 hover:-translate-y-[3px]"
      >
        <div class="flex items-center justify-center">
          <img
            class="w-32 h-auto rounded-lg"
            src="assets/logoApps/package.png"
            alt=""
          />
        </div>
        <h5 class="text-2xl font-bold tracking-tight text-gray-900">
          PackagingTest
        </h5>
      </div>
    </a>
    <a href="http://kjyiotsvr/monitoring_packaging" target="_blank">
      <div
        class="max-w-sm p-6 text-center bg-white border border-gray-200 shadow-2xl rounded-xl w-52 h-52 hover:-translate-y-[3px]"
      >
        <div class="flex items-center justify-center">
          <img
            class="w-32 h-auto rounded-lg"
            src="assets/logoApps/ux.png"
            alt=""
          />
        </div>
        <h5 class="text-2xl font-bold tracking-tight text-gray-900">
          DesignMonitoring
        </h5>
      </div>
    </a>
  </div>
  
</div>
