<footer
  class="p-3 mt-auto mb-2 text-center bg-white shadow-xl max-md:m-3 rounded-xl dark:bg-gray-800"
>
  <span class="text-base text-center text-gray-800 dark:text-gray-400"
    >© 2023
    <a href="/" class="hover:underline">TechnicalDashbard</a>, PT Amerta Indah Otsuka
  </span>
  <!-- <ul
    class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0"
  >
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Contact</a>
    </li>
  </ul> -->
</footer>
